In [39]:
import pandas as pd

In [40]:
df_stress_input = pd.read_excel("format_data.xlsx")

In [41]:
df_stress_input

,Elem,Load,Part,Section Position,Sig-xx(Axial) (kN/m²),Sig-xx(Moment-y) (kN/m²),Sig-xx(Moment-z) (kN/m²),Sig-xx(Bar) (kN/m²),Sig-xx(Summation) (kN/m²),Sig-zz (kN/m²),Sig-xz (shear) (kN/m²),Sig-xz (torsion) (kN/m²),Sig-xz (bar) (kN/m²),Sig-Is (shear) (kN/m²),Sig-Is (shear+torsion) (kN/m²),Sig-Ps(Max) (kN/m²),Sig-Ps(Min) (kN/m²)
0,1,L_1_1_TP_WP_1,I[1],Pos-1,-931.93,1733.40000,0.126780,0,801.640,0,0.00000,-0.094898,0,801.640000,8.016400e+02,8.016400e+02,-0.000011
1,1,L_1_1_TP_WP_1,I[1],Pos-2,-931.93,2815.00000,-0.124440,0,1882.900,0,0.00000,0.094898,0,1882.900000,1.882900e+03,1.882900e+03,-0.000005
2,1,L_1_1_TP_WP_1,I[1],Pos-3,-931.93,-2717.30000,-0.065497,0,-3649.300,0,0.00000,0.094898,0,0.000000,2.467800e-06,2.467800e-06,-3649.300000
3,1,L_1_1_TP_WP_1,I[1],Pos-4,-931.93,-2717.30000,0.067843,0,-3649.200,0,0.00000,-0.094898,0,0.000000,2.467800e-06,2.467800e-06,-3649.200000
4,1,L_1_1_TP_WP_1,I[1],Pos-5,-931.93,976.40000,0.068809,0,44.537,0,-0.15034,-0.094898,0,44.538000,4.453900e+01,4.453900e+01,-0.001350
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49835,89,L_1_7_TN_WN_1,J[90],Pos-6,-931.94,976.40000,-0.068723,0,44.399,0,0.13020,-0.087358,0,44.399000,4.439900e+01,4.439900e+01,-0.000041
49836,89,L_1_7_TN_WN_1,J[90],Pos-7,-931.94,-0.01275,0.071149,0,-931.880,0,0.14884,0.087358,0,0.000024,5.986900e-05,5.986900e-05,-931.880000
49837,89,L_1_7_TN_WN_1,J[90],Pos-8,-931.94,-0.01275,-0.068723,0,-932.020,0,0.14884,-0.087358,0,0.000024,4.056200e-06,4.056200e-06,-932.020000
49838,89,L_1_7_TN_WN_1,J[90],Pos-9,-931.94,-1885.40000,0.071149,0,-2817.300,0,0.07690,0.087358,0,0.000002,9.576800e-06,9.576800e-06,-2817.300000
49839,89,L_1_7_TN_WN_1,J[90],Pos-10,-931.94,-1885.40000,-0.068723,0,-2817.400,0,0.07690,-0.087358,0,0.000002,3.882100e-08,3.882100e-08,-2817.400000

In [42]:
df_load_case = list(df_stress_input["Load"].unique())
df_load_case

['L_1_1_TP_WP_1',
 'L_1_1_TN_WP_1',
 'L_1_1_TP_WN_1',
 'L_1_1_TN_WN_1',
 'L_1_2_TP_WP_1',
 'L_1_2_TN_WP_1',
 'L_1_2_TP_WN_1',
 'L_1_2_TN_WN_1',
 'L_1_3_TP_WP_1',
 'L_1_3_TN_WP_1',
 'L_1_3_TP_WN_1',
 'L_1_3_TN_WN_1',
 'L_1_4_TP_WP_1',
 'L_1_4_TN_WP_1',
 'L_1_4_TP_WN_1',
 'L_1_4_TN_WN_1',
 'L_1_5_TP_WP_1',
 'L_1_5_TN_WP_1',
 'L_1_5_TP_WN_1',
 'L_1_5_TN_WN_1',
 'L_1_6_TP_WP_1',
 'L_1_6_TN_WP_1',
 'L_1_6_TP_WN_1',
 'L_1_6_TN_WN_1',
 'L_1_7_TP_WP_1',
 'L_1_7_TN_WP_1',
 'L_1_7_TP_WN_1',
 'L_1_7_TN_WN_1']

In [43]:
df_berdasarkan_stress_point = df_stress_input[(df_stress_input["Section Position"]=="Pos-2")][["Load","Sig-xx(Summation) (kN/m²)"]]
pd.DataFrame(df_berdasarkan_stress_point)

                Load  Sig-xx(Summation) (kN/m²)
1      L_1_1_TP_WP_1                     1882.9
11     L_1_1_TP_WP_1                     1917.5
21     L_1_1_TP_WP_1                     1895.8
31     L_1_1_TP_WP_1                     1495.7
41     L_1_1_TP_WP_1                     1389.4
...              ...                        ...
49791  L_1_7_TN_WN_1                     1257.5
49801  L_1_7_TN_WN_1                     1395.5
49811  L_1_7_TN_WN_1                     1895.7
49821  L_1_7_TN_WN_1                     1922.3
49831  L_1_7_TN_WN_1                     1882.9

[4984 rows x 2 columns]

In [45]:
df_filter_tes = df_stress_input.loc[(df_stress_input["Load"]=='L_1_7_TP_WN_1')&(df_stress_input["Section Position"]=='Pos-1'),"Sig-xx(Summation) (kN/m²)"]
pd.DataFrame(df_filter_tes)

       Sig-xx(Summation) (kN/m²)
46280                     801.64
46290                     823.99
46300                     807.38
46310                     479.85
46320                    -204.45
...                          ...
48010                    -203.70
48020                     479.39
48030                     807.94
48040                     825.91
48050                     801.65

[178 rows x 1 columns]

In [61]:
import pandas as pd

# Misalkan df_berdasarkan_stress_point dan df_load_case sudah didefinisikan sebelumnya

new_data = {}

for load_case in df_load_case:
    df_filter = df_berdasarkan_stress_point[df_berdasarkan_stress_point["Load"] == load_case]["Sig-xx(Summation) (kN/m²)"]
    new_data[load_case] = df_filter.values  # Mengambil nilai sebagai array

df_result = pd.DataFrame(new_data)
df_result

,L_1_1_TP_WP_1,L_1_1_TN_WP_1,L_1_1_TP_WN_1,L_1_1_TN_WN_1,L_1_2_TP_WP_1,L_1_2_TN_WP_1,L_1_2_TP_WN_1,L_1_2_TN_WN_1,L_1_3_TP_WP_1,L_1_3_TN_WP_1,...,L_1_5_TP_WN_1,L_1_5_TN_WN_1,L_1_6_TP_WP_1,L_1_6_TN_WP_1,L_1_6_TP_WN_1,L_1_6_TN_WN_1,L_1_7_TP_WP_1,L_1_7_TN_WP_1,L_1_7_TP_WN_1,L_1_7_TN_WN_1
0,1882.9,1882.9,1882.9,1882.9,1882.9,1882.9,1882.9,1882.9,1882.9,1882.9,...,1882.9,1882.9,1882.9,1882.9,1882.9,1882.9,1882.9,1882.9,1882.9,1882.9
1,1917.5,1917.5,1917.8,1917.8,1917.5,1917.5,1917.8,1917.8,1917.5,1917.5,...,1919.7,1919.7,1919.3,1919.3,1919.6,1919.6,1919.2,1919.2,1919.5,1919.5
2,1895.8,1897.6,1896.6,1898.4,1896.6,1898.5,1897.4,1899.3,1896.8,1898.7,...,1891.6,1893.5,1891.7,1893.6,1892.5,1894.4,1892.1,1893.9,1892.9,1894.7
3,1495.7,1524.4,1488.1,1516.8,1519.3,1548.0,1511.7,1540.4,1521.3,1550.0,...,1332.7,1361.4,1367.9,1396.6,1360.3,1389.0,1374.9,1403.6,1367.3,1396.0
4,1389.4,1428.7,1379.9,1419.2,1421.0,1460.3,1411.5,1450.8,1423.9,1463.2,...,1170.6,1209.9,1217.0,1256.3,1207.5,1246.9,1226.6,1266.0,1217.2,1256.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,1151.9,1193.7,1141.9,1183.7,1418.7,1460.5,1408.7,1450.5,1217.7,1259.5,...,1172.9,1214.7,1420.0,1461.8,1410.0,1451.8,1225.7,1267.5,1215.7,1257.5
174,1317.9,1348.5,1309.9,1340.5,1516.8,1547.4,1508.8,1539.4,1367.0,1397.6,...,1332.9,1363.5,1517.6,1548.2,1509.7,1540.3,1372.8,1403.4,1364.8,1395.5
175,1890.9,1893.0,1891.7,1893.9,1894.9,1897.1,1895.8,1897.9,1892.4,1894.6,...,1892.4,1894.6,1895.1,1897.2,1895.9,1898.1,1892.7,1894.8,1893.5,1895.7
176,1922.8,1922.8,1923.0,1923.0,1917.5,1917.5,1917.8,1917.8,1922.2,1922.2,...,1922.5,1922.5,1917.5,1917.5,1917.8,1917.8,1922.1,1922.1,1922.3,1922.3
177,1882.9,1882.9,1882.9,1882.9,1882.9,1882.9,1882.9,1882.9,1882.9,1882.9,...,1882.9,1882.9,1882.9,1882.9,1882.9,1882.9,1882.9,1882.9,1882.9,1882.9

In [66]:
a=df_result["L_1_1_TP_WP_1"].max()
a

1922.8